.hotnews-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    background-color: #f74848;
    color: #f9f9f9;
}

.hotnews-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    column-gap: 5px;
}

.hotnews-info {
    margin-top: 5px;
    color: #ffffff;
}