/* Positioning the Hamburger Icon at the Top Left */
.hamburger-menu {
    position: fixed;
    top: 20px;  /* Add some padding from the top */
    left: 20px; /* Add some padding from the left */
    z-index: 1001; /* Ensure it's above other elements */
}

/* Hamburger Button */
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.bar.open:nth-child(1) {
    transform: rotate(45deg) translateY(7px); /* Top bar */
}

.bar.open:nth-child(2) {
    opacity: 0; /* Middle bar */
}

.bar.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px); /* Bottom bar */
}

/* Side Menu */
.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden off-screen */
    width: 250px;
    height: 100%;
    background-image: var(--colorGradient);
    text-align: center;
    transition: left 0.3s ease; /* Slide-in transition */
    padding-top: 50px; /* Space for top items */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu.open {
    left: 0; /* Menu slides in when open */
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 20px;
    color: #fff;
}

.menu ul li a {
    font-size: var(--fontH6);
    text-decoration: none;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.menu ul li a:hover {
    font-size:var(--fontH4);
    text-decoration: underline;
    transition: 0.2s;
}

/* Close button in the menu */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
